:root {
    --background: #000408; /* Unused */
    --background-accent: #000000;
    --text-color: #ffffff;
    --button-color: rgba(63, 242, 100, 0.7);
    /*--glowing-border: #6598fcff;*/
    --glowing-border: rgba(63, 242, 100, 0.7);
}

html, body {
    margin: 0;
    height: 100%;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter-Regular.ttf") format("opentype");
}

body:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;

    background-image: url("fox_inverted.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    filter: grayscale(100%);
}

body {
    background-color: #00000000;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;

    color: var(--text-color);

    font-family: "Inter", ui-serif;
}

button {
    border: none;
    border-radius: 0px;
    font-size: 3vw;
    font-weight: lighter;
    color: #ffffff;

    width: 50%;
    height: 100%;
    padding-bottom: 5px;
    background: linear-gradient(135deg, var(--button-color) 0%, rgba(87, 199, 160, 1.0) 95%, rgba(0, 0, 0, 0) 95%);

    cursor: pointer;
}

.center_div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.rounded_popup {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;

    border: 20px;
    border-radius: 25px;
    background-color: var(--background-accent);
    width: 50%;
    height: 35%;
    min-width: 400px;

    font-size: 5vw;
    filter: drop-shadow(0 0 1rem var(--glowing-border));
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    gap: 10%;
}

.inputfield {
    font-size: 1rem;
}

input {
    color: #ffffff;
    background-color: #2b2a33;
    border: solid;
    border-width: 2px;
    border-color: #8f8f9d;
}